<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/new}" th:object="${country}" method="post">
			<div>
				Name: <input type="text" th:field="*{name}"/></br>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Country Name Error</span>
			</div>
			<div>
				Capitol: <input type="text" th:field="*{capitol}"/></br>
				<span th:if="${#fields.hasErrors('capitol')}" th:errors="*{capitol}">Capitol Error</span>
			</div>
			<div>
				Population: <input type="text" th:field="*{population}" /></br>
				<span th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Population Error</span>
			</div>
			<button type="submit"> Save </button>
		</form>
	</div>
</body>
</html>
